
<div id="" class="row">
   <h4 class="center-align ">Login de Acceso</h4>
    <div class="col s12 col m4">

    </div>
     <div class=" col s12  col m4 z-depth-6 card-panel">
      <form class="" method="POST" action="/login">
          <div class="input-field">
            <i class="material-icons prefix">mail_outline</i>
            <input type="text" id="autocomplete-input" class="autocomplete" name="email">
            <label for="autocomplete-input">Correo Electronico</label>
          </div>

          
          <div class="input-field ">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" id="autocomplete-password" class=""name="password">
            <label for="autocomplete-password">Contraseña</label>
          </div>
          
        
        
    
          <div class="input-field ">
            <button type="submit" class="btn waves-effect waves-light ">Login</button>
          </div>
     
                
        

      </form>
    </div>
    <div class="col s4 colm4">

    </div>
  </div> 

