
<div id="" class="row">
   <h4 class="center-align ">Registro de Usuarios</h4>
    <div class="col s12 col m3">

    </div>
     <div class=" col s12  col m6 z-depth-6 card-panel">
      <form class="r" method="POST" action="/register">

        <div class="input-field">
            <i class="material-icons prefix">mail_outline</i>
            <input type="text" id="autocomplete-input" class="autocomplete" name="name">
            <label for="autocomplete-input">Nombre</label>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">mail_outline</i>
            <input type="text" id="autocomplete-input" class="autocomplete" name="email">
            <label for="autocomplete-input">Correo Electronico</label>
        </div>

          <div class="input-field ">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" id="autocomplete-password" class=""name="password">
            <label for="autocomplete-password">Contraseña</label>
          </div>

          <div class="input-field ">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" id="autocomplete-password" class=""name="confirm-password">
            <label for="autocomplete-password">Confirmar Contraseña</label>
          </div>
          
        
        
    
          <div class="input-field ">
            <button type="submit" class="btn waves-effect waves-light ">Crear Usuario</button>
          </div>
     
                
        

      </form>
    </div>
    <div class="col s2 col m3">

    </div>
  </div> 

