<nav>
    <div class="nav-wrapper light-blue">
        <a href="/" class="brand-logo">
            <img src="/img/ico.png" alt="Logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-demo">
         <li><a href="/tareas">TAREAS</a></li>
         <li><a href="/login-view">LOGIN</a></li>
         <li><a href="/register-view">REGISTER</a></li>
         <li><a href="/logout">SALIR</a></li>
     </ul>

     <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a href="/tareas">TAREAS</a>

        </li>

        <li>
            <a href="/login-view">LOGIN</a>
        </li>
        <li>
            <a href="/register-view">REGISTER</a>
        </li>

        <!-- Dropdown Trigger -->
        {{#if user}}
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>{{user.name}}</a>
        {{/if}}




        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">Perfil</a></li>
            <li><a href="/logout">Salir </a></li>




        </ul>
    </div>
</nav>