<nav>
    <div class="nav-wrapper light-blue">
        <a href="#" class="brand-logo">
            <img src="/img/ico.png" alt="Logo">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="#">TAREAS</a>
            </li>
        </ul>
    </div>
</nav>