<div class="row">
    <div class="col s12 m12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Sistema de Gestión de Pagos para la casa :v</span>
            </div>
            <div class="card-action white-text">
                <h1>Bienvenido</h1>
                <center>
                    <img src="/img/casa.png" alt="">
                </center>
            </div>
        </div>
    </div>
</div>